@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Fredoka+One&family=Major+Mono+Display&family=Montserrat&family=Montserrat+Alternates:ital,wght@0,200;0,400;0,600;1,400&family=Nunito:wght@400;600&family=Roboto+Slab:wght@400;600&family=Roboto:wght@400;700&family=Rozha+One&family=Space+Mono&family=Yeseva+One&display=swap');

// Headings
.bungee {
  font-family: 'Bungee', cursive;
}

.bungee-hair {
  font-family: 'Bungee Hairline', cursive;
}

.fredoka {
  font-family: 'Fredoka One', cursive;
}


.major-mono {
  font-family: 'Major Mono Display', monospace;
}


.montserrat-alt {
  font-family: 'Montserrat Alternates', sans-serif;
}

.rozha {
  font-family: 'Rozha One', serif;
}

.yeseva {
  font-family: 'Yeseva One', cursive;
}

// Bodys
.nunito {
  font-family: 'Nunito', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.slab {
  font-family: 'Roboto Slab', serif;
}

.mono {
  font-family: 'Space Mono', monospace;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}