$themes: (
  default: ("body-bg": #090909,
    "primary": #fd3927,
    "secondary": #a4ffbb,
    "success": #00f8ba,
    "info": #9733f6,
    "warning": #fbcf33,
    "danger": #ec36aa,
    "light": #ebeef1,
    "dark": #090f18,
    "grey": #cbcbcb,
  ),
  dark: ("body-bg": #090f18,
    "primary": #fd3927,
    "secondary": #a4ffbb,
    "success": #00f8ba,
    "info": #9733f6,
    "warning": #fbcf33,
    "danger": #ec36aa,
    "light": #ebeef1,
    "dark": #090f18,
    "grey": #cbcbcb,
  ),
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));