@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";
@import "./fonts";

body {
  overscroll-behavior: none;
  background: rgb(22, 11, 44);
  background: url(/src/assets/img/bg/black-orchid.png), linear-gradient(0deg, rgb(54, 49, 65) 0%, rgb(0, 0, 0) 100%);
}

body.mobile-debug {

  display: flex;
  flex-direction: row;
  justify-content: center;

  #app {
    max-width: 500px;
    outline: 1px rgba(255, 255, 255, 0.5) dashed;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}


form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}


@mixin scrollbars($size: 10px,
  $foreground-color: #999,
  $background-color: #333) {

  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
}

* {
  @include scrollbars(10px, rgb(39, 39, 39), rgba(0, 0, 0, 0.25))
}

.no-bar {
  @include scrollbars(0px, transparent, transparent)
}