@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";
@import "./fonts";

body {
  overscroll-behavior: none;
  background: rgb(22, 11, 44);
  background: url(/src/assets/img/bg/black-orchid.png), linear-gradient(0deg, rgb(54, 49, 65) 0%, rgb(0, 0, 0) 100%);
  background-attachment: fixed;
}


body.mobile-debug {

  display: flex;
  flex-direction: row;
  justify-content: center;

  #app {
    width: 500px;
    outline: 1px rgba(255, 255, 255, 0.5) dashed;
    transition: width .2s ease;
  }
}

.nsfw {
  filter: blur(30px) grayscale(.1) contrast(.9);

  &-small {
    filter: blur(10px) grayscale(.1) contrast(.9);
    transform: scale(1.3);
  }
}

.nsfw-tag {
  font-size: 10px;
  // background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: invert(100%);
  transform: rotateZ(45deg);

  i::before {
    width: 5.5px;
  }
}

button {
  background-color: transparent;
  border: 0;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}


form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}


@mixin scrollbars($size: 10px,
  $foreground-color: #999,
  $background-color: #333) {

  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
}

* {
  @include scrollbars(10px, rgb(39, 39, 39), rgba(0, 0, 0, 0.25))
}

.no-bar {
  @include scrollbars(0px, transparent, transparent)
}